{% extends 'base.html.twig' %}

{% block title %}Change password{% endblock %}

{% block body %}

    <h1>Change your password</h1>
    
    {{ form_start(passForm) }}

        {{ form_errors(passForm) }}
        {{ form_row(passForm.plainPassword) }}
        <button type="submit" class="btn btn-primary" >Submit</button>
 
    {{ form_end(passForm) }}

{% endblock %}
