{% extends 'base.html.twig' %}

{% block title %}Forgot{% endblock %}

{% block body %}

    <h1>Forgot password</h1>
    
    {{ form_start(requestPassForm) }}
        {{ form_row(requestPassForm.email) }}
        <button type="submit" class="btn btn-primary" >Submit</button>
 
    {{ form_end(requestPassForm) }}

{% endblock %}
