{% extends 'base.html.twig' %}

{% block title %}Forgot password{% endblock %}
{% block metadesc %}Reset your password{% endblock %}
{% block pageWrapper %}login-resest{% endblock %}


{% block body %}

    <h1 class="primary-title">Forgot password</h1>
    
    {{ form_start(requestPassForm) }}
        {{ form_row(requestPassForm.email) }}
        
        <button type="submit" class="form-btn-submit" >Submit</button>
 
    {{ form_end(requestPassForm) }}

{% endblock %}
