{% extends 'base.html.twig' %}

{% block title %}Change password{% endblock %}
{% block metadesc %}Reset your password{% endblock %}
{% block pageWrapper %}login-resest{% endblock %}

{% block body %}

    <h1 class="primary-title">Change your password</h1>
    
    {{ form_start(passForm) }}

        {{ form_errors(passForm) }}
        {{ form_row(passForm.plainPassword) }}
        <button type="submit" class="form-btn-submit" >Submit</button>
 
    {{ form_end(passForm) }}

{% endblock %}
