{% extends 'base.html.twig' %}

{% block title %}Our formations{% endblock %}
{% block metadesc %}All of our formations{% endblock %}
{% block pageWrapper %}index-formation{% endblock %}

{% block body %}

    <h1 class="primary-title">Our formations</h1>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('create_formation') }}">Create formation <b>+</b></a>
    {% endif %} 

    <div class="table-list">

        <div class="table-row table-header">
            <p class="table-item">Title</p>
        </div>

        {% for formation in formations %}

            <div class="table-row">
                <p class="table-item">{{ formation }}</p>
                {# later nb sessions will be put #}
            </div>
        {% endfor %}
    
    </div>
{% endblock %}
