<h1>Hi! Please confirm your email!</h1>

<div>
    <p>
        Please confirm your email address by clicking the following link:
        <a href="{{ signedUrl|raw }}">Confirm my Email</a>.
    </p>
    <p>This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.</p>
</div>

<p>
    Cheers!
</p>
