/************************* General *************************/
/***********************************************************/
:root {
    --danger-color: #ac1a1a;

    --font-size-big: 35px;
    --font-size-title: 22px;
    --font-size-p: 17px;

    --weight-medium: 500;
    --weight-semi-bold: 600;
    --weight-bold: 700;
    --weight-black: 800;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

}

#body-wrapper {
    background-color: var(--primary-background);

    display: flex;
    flex-direction: row;

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

main {
    flex: 5;
}

.primary-title {
    color: var(--primary-color-text);
    font-size: var(--font-size-big);
    font-weight: var(--weight-bold);
}

.secondary-title {
    color: var(--secondary-color-text);
    font-size: var(--font-size-big);
    font-weight:normal;
}

b {
    font-weight: var(--weight-black);
    font-size: 18px;
}

.dark-mode {
    --primary-color: #1F816F;
    
    --primary-color-text: #26D9B8;
    --secondary-color-text: #ffffff;

    --hover-color: #20a38b;
    --active-color:#12574a;
    
    --hover-background: #11493e;

    --primary-background: #131E1C;
    --secondary-background: #0A2E27;
    
    /* --shadow:rgba(0, 207, 173, 0.527) 0px 3px 7px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    --shadow-hover:rgba(0, 211, 172, 0.39) 0px 10px 23px -5px, rgba(0, 0, 0, 0.3) 0px 8px 12px -8px; */

    --shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    --shadow-hover: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

    --alert-color:#d3d3d3;

}

.light-mode {
    --primary-color: #e4e2e2;
    
    --primary-color-text: #3d3d3d;
    --secondary-color-text: #2c2c2c;

    --hover-color: #bbbbbb;
    --active-color:#505050;
    
    --primary-background: #EFEFEF;
    --secondary-background: #FEFEFE;

    --shadow:rgba(50, 50, 93, 0.25) 0px 3px 7px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    --shadow-hover:rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

    --alert-color:#2b2b2b;

}

#switch-mode {
    background:none;
    border: none;
    text-align: left;
    cursor: pointer;
}

#switch-mode i {
    font-size: 20px;
}

/************************* BurgerMenu ***************************/
/****************************************************************/
nav #burger-btn {
    font-size: 22px;
    border: none;
    background: none;

    display: none; /* display only in tablet & phone */
}

#burger-content {
    display: flex;
    flex-direction: column;

    order: -1;
}

/************************* Wrapper ***************************/
/*************************************************************/
#wrapper {
    margin: 25px 0;
    padding: 0 3%;
    color: var(--secondary-color-text);
}

#wrapper a {
    text-decoration: none;
}

#wrapper input:focus-visible,
#wrapper select:focus-visible {
    outline: none;
}

/* grid */
[class*="wrap-"] {
    display: grid;

    row-gap: 15px;
    column-gap: 15px;

    grid-template-columns: auto;
    grid-template-rows: auto;
}

#wrapper .flash-success {
    color: rgb(24, 173, 24);
}

#wrapper .flash-error {
    color: var(--danger-color);
}

/************************* Header *************************/
/**********************************************************/
nav {
    min-height: 98vh;
    height: 100%;
    
    flex: 1;
    display: flex;
    flex-direction: column;

    background-color: var(--secondary-background);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

nav a, nav button {
    padding: 0 15px ;
    text-decoration: none;
    color: var(--secondary-color-text);
}

nav .nav-main {
    font-size: 23px;
    font-weight: var(--weight-bold);
    margin: 20px 0 20px;  
    transition: 0.3s;

    display: flex;
    flex-direction: column;
}

nav a:hover {
    color: var(--primary-color-text);
    transition: 0.3s;
}

nav a:not(.nav-main) {
    font-size: 18px;
    margin: 5px 0;
    transition: 0.3s;
}

nav a:first-child {
    order: -1;
}

/************************* Table ***************************/
/***********************************************************/
.table-list {
    display: flex; 
    flex-direction: column; 
    border-radius: 4px;
    box-shadow: var(--shadow);
}

.table-item {
    padding: 0.5em 0;
    font-size: var(--font-size-p);
    color: var(--secondary-color-text);

    flex: 1;
}

.row-unique {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    text-align: center;

    background-color: var(--secondary-background);

    border-radius: 4px;

    box-shadow: var(--shadow);
}

.table-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    text-align: center;

    background-color: var(--secondary-background);
    position: relative;
}

/* .table-item:not(:first-child) {
    border-left: 1px solid var(--primary-color);
} */

.wrap-details-user .table-list .table-item:not(:first-child) {
    border: 0;
}

.table-row:hover {
    background-color: var(--hover-background);
    transition: 0.3s;
}

.table-row:hover a {
    color: var(--primary-color-text);
    transition: 0.3s;
}

.table-free {
    padding: 0 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background-color: var(--secondary-background);

    position: relative;
}

.table-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    background-color: var(--secondary-background);

    position: relative;
}

.table-section:not(:nth-child(3)) {
    display: flex;
    flex-direction: column;

    position: relative;
}

.table-section div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    text-align: center;
}

.table-section p, .table-section strong {
    text-align: center;
}

.table-row:first-child, 
.table-free:first-child, 
.table-section:first-child {
    border-top-left-radius: 4px ;
    border-top-right-radius: 4px ;
}

.table-row:last-child, 
.table-free:last-child, 
.table-section:last-child  {
    border-bottom-left-radius: 4px ;
    border-bottom-right-radius: 4px ;
}

.table-row:not(:last-child, :first-child), 
.table-section:not(:last-child, :first-child) {
    border-bottom: 1px solid var(--primary-color);
}

.table-header {
    background-color: var(--primary-color);
}

.table-header:hover {
    background-color: var(--primary-color);
}

.table-header > .table-item {
    font-size: var(--font-size-title);
    font-weight: var(--weight-bold);
}

/* edit btn */
.fa-pen-to-square { 
    font-size: 22px;
    
    color: var(--alert-color);
    border: none;
    border-radius: 50%;

    position: absolute;
    top: 25%;
    right: 50px;
}

/* delete btn */
.fa-trash-can {
    font-size: 23px;

    color: var(--danger-color);
    border: none;
    border-radius: 50%;

    position: absolute;
    top: 25%;
    right: 10px;
}

.fa-chevron-up, .fa-chevron-down {
    font-size: 23px;
    color: var(--secondary-color-text);
    position: absolute;
    top: 25%;
    right: 40px;
    cursor: pointer;
} 

/************************* Form (flex + grid) ***************************/
/************************************************************************/
.form-create {
    background-color: var(--secondary-background);
    padding: 10px 25px;

    border: 5px solid var(--primary-color);
    border-radius: 3px;   

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;

    column-gap: 25px;
    row-gap: 15px;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 3px 7px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.form-create div {
    display: flex;
    flex-direction: column;
}

.form-create div label {
    color: var(--primary-color-text);
    font-size: 20px;
}

[class*="form-input"] {
    height: 35px;
    font-size: 17px;

    padding: 0 10px ;
}

.form-create div { /* affect all div that doesn't have a date input */
    grid-column: 1 / 5;
}

.wrap-create-session .form-create div:has(>.form-input-date) { /* affect all div that do have a date input */
    /* grid-row: 4; */
    grid-column: span 2;
}

div input[type=checkbox] {
    width: 25px;
    margin-left: 15px;
}

.form-btn-submit {
    height: 35px;

    color: var(--secondary-color-text);
    background-color: var(--primary-color);

    border: 0;
    border-radius: 2px;
    font-size: 16px;

    align-self: center;
    cursor: pointer;
    transition: 0.3s;
}

.form-btn-submit:hover {
    background-color: var(--hover-color);
    transition: 0.3s;
}

.form-btn-submit:active {
    background-color: var(--active-color);
    transition: 0.3s;
}

/*************************** RegisterForm & UpdateUserForm ***************************/
/*************************************************************************************/
.wrap-register {
    padding: 0 15%;
}

/* input text / number */
.wrap-register .form-create { 
    display: grid;

    grid-template-columns:  auto;
    grid-template-rows: auto;

    column-gap: 25px;
    row-gap: 15px;
}

/* lastName & firstName */
.wrap-update-user form div:nth-child(-n + 2), .wrap-register form div:nth-child(-n + 2) { 
    grid-column: span 2;
    padding-bottom: 25px;
} 

/* email & phone */
.wrap-update-user form div:nth-child(3), .wrap-register form div:nth-child(3),
.wrap-update-user form div:nth-child(4), .wrap-register form div:nth-child(4) {
    grid-column: span 2;
} 

/* postCode & City */
.wrap-update-user form div:nth-child(7), .wrap-register form div:nth-child(7),
.wrap-update-user form div:nth-child(8), .wrap-register form div:nth-child(8) {
    grid-column: span 2;
    padding-bottom: 25px;
} 

/* birthDate */
.wrap-update-user form div:nth-child(5), .wrap-register form div:nth-child(5) {
    padding-bottom: 25px;
}

/*************************** GridDetailsSession ***************************/
/**************************************************************************/
.wrap-details-session {
    display: grid;

    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto;

    column-gap: 25px;
    row-gap: 15px;

    color: var(--secondary-color-text);
}

.wrap-details-session h1 {
    grid-column: 1 / -1;
}

.wrap-details-session h2 {
    grid-column: 1 / -1;
}

.wrap-details-session .form-create {
    grid-column: -1 / -2;
}
.wrap-details-session .form-create .form-input-text {
    width: 100%;
}
.wrap-details-session .row-unique {
    grid-column: 1 / -1;
}

.wrap-details-session .header-student {
    grid-column: 1 / -1;
}

.wrap-details-session #table-information {
    grid-column: 1 / span 5;
}

.wrap-details-session #table-formation-module {
    grid-column: 1 / -1;
}

.wrap-details-session .table-list {
    grid-column: 1 / -1;
}

/************************ HomePage ************************/
/**********************************************************/
.create-entities {
    height: calc(100% + 200px);
    margin-bottom: 15px ;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.create-entities a {
    width: fit-content;
    font-size: 18px;
    color: var(--secondary-color-text);
    text-decoration: none;
    transition: 0.3s;
}

.create-entities a:hover {
    color: var(--primary-color-text);
    transition: 0.3s;
}

.home-formation-container {
    padding-top: 15px;
    display: grid;

    grid-template-columns: 50% 50%;
    column-gap: 10px;
    row-gap: 20px;
}

.home-formation-items {
    height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    background-color: var(--secondary-background);
    border: 1px solid var(--secondary-background);

    text-align: center;
    color: var(--primary-color-text);
    border-radius: 4px;
    box-shadow: var(--shadow);

    transition: 0.4s;
}

.home-formation-items:hover {
    transform: translateY(-5px);
    box-shadow: var(--shadow-hover);
    transition: 0.4s;
}

.home-formation-items p {
    font-size: 22px;
}

.home-formation-items a {
    width: 100px;
    height: 40px;
    
    margin-bottom: 8px;
    
    align-self: center;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    border-radius: 4px;
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--secondary-color-text);

    box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.home-formation-items a p {
    font-size: 18px;
}

#wrapper .home-formation-container .home-formation-items a:hover {
    background-color: var(--hover-color);
    color: var(--secondary-color-text);
}

/************************ indexSession ************************/
/**************************************************************/
#passed-sessions-head {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.passed-sessions-content {
    display: none;
    transform: translateY(0);
}

/************************ detailsSession ************************/
/****************************************************************/
.wrap-details-session .editIcon {
    color: var(--alert-color);
    font-size: 18px;
}

.wrap-details-session .deleteIcon {
    color: var(--danger-color);
    font-size: 18px;
}

#table-information {
    height: fit-content;
}

#table-information .table-section {
    text-align: left;
    padding: 0 15%;
}

#table-information .section-date {
    display: flex;
    flex-direction: row;
}

/************************ indexSessionPerFormation ************************/
/**************************************************************************/
.wrap-list-session a {
    color: var(--secondary-color-text);
    width: fit-content;
    transition: 0.3s;
}

.wrap-list-session a:hover {
    color: var(--primary-color-text);
    transition: 0.3s;
}

/********************************************************************************************************************************************************/
/********************************************************************** Responsive **********************************************************************/
/********************************************************************************************************************************************************/

/************************************************************ Tablet ************************************************************/
/********************************************************************************************************************************/
@media only screen
and (max-device-width : 768px) {

    #wrapper.wrap-login a {
        color: var(--secondary-color-text);
    }

    #body-wrapper {
        background-color: var(--primary-background);
    
        display: flex;
        flex-direction: column;

        min-height: 100vh;
        height: 100%;
    }
    
    main {
        flex: initial;
    }
    
    .primary-title {
        color: var(--primary-color-text);
        font-size: var(--font-size-big);
        font-weight: var(--weight-bold);

        padding: 0 20px;
    }
    
    .secondary-title {
        color: var(--secondary-color-text);
        font-size: var(--font-size-big);
        font-weight:normal;

        padding: 0 20px;
    }
    
    b {
        font-weight: var(--weight-black);
        font-size: 18px;
    }

    /************************* BurgerMenu ***************************/
    /****************************************************************/
    nav #burger-btn {
        display: initial;
    }

    #burger-content {
        position: absolute;
        top: 50px;
        right: 0;

        border-radius: 2px;

        /* background-color: var(--secondary-background); */
        background: radial-gradient(var(--secondary-background), var(--primary-background)) ;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

        z-index: 99;
    }

    #nav:last-child {
        justify-content: flex-start;
    }

    #burger-content .burger-items {
        align-self: flex-start;
    }

    .show {
        width: 210px;
        height: fit-content;
    }

    #burger-content .showItems {
        display: initial;
    }

    /************************* Wrapper ***************************/
    /*************************************************************/
    #wrapper {
        padding: 0 1%;
        
    }

    /************************* Header *************************/
    /**********************************************************/
    nav {
        min-height: initial;
        height: initial;
        
        flex: initial;
        flex-direction: row;

        position: relative;
    }

    nav a:first-child {
        align-self: center;
    }
    
    nav .nav-main {
        font-size: 20px;
        margin: 10px;  
        flex-direction: row;
    }
    
    nav a:not(.nav-main) {
        display: none;
        margin: 10px;
    }

    nav .fa-caret-right {
        /* display: none; */
    }

    /************************ HomePage ************************/
    /**********************************************************/
    .create-entities {
        height: initial;      
        margin: 0;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    .create-entities a {
        padding: 5px 10px;
        margin: 5px;

        color: var(--secondary-color-text);
        font-size: 18px;
        text-decoration: none;
        background-color: var(--secondary-background);

        border-radius: 3px;
        box-shadow: var(--shadow);

        transition: none;
    }
    
    .create-entities a:hover {
        color: var(--secondary-color-text);
        box-shadow: var(--shadow);
        transition: none;
    }

    .home-formation-container {
        padding-top: 10px;
        grid-template-columns: 100%;
    }
    
    .home-formation-items:hover {
        transform: translateY(0);
        box-shadow: var(--shadow);
    }

    /************************* Table ***************************/
    /***********************************************************/
    .table-list {
        display: flex; 
        flex-direction: column; 
        border-radius: 4px;
    }


    /*************************** RegisterForm & UpdateUserForm ***************************/
    /*************************************************************************************/
    .wrap-register {
        padding: 0 15%;
    }

    /* input text / number */
    .wrap-register .form-create { 
        display: grid;

        grid-template-columns:  auto;
        grid-template-rows: auto;

        column-gap: 25px;
        row-gap: 15px;
    }

    /* lastName & firstName */
    .wrap-update-user form div:nth-child(-n + 2), .wrap-register form div:nth-child(-n + 2) { 
        grid-column: 1 / -1;
        padding-bottom: 0;
    } 

    /* email & phone */
    .wrap-update-user form div:nth-child(3), .wrap-register form div:nth-child(3),
    .wrap-update-user form div:nth-child(4), .wrap-register form div:nth-child(4) {
        grid-column: 1 / -1;
    } 

    /* postCode & City */
    .wrap-update-user form div:nth-child(7), .wrap-register form div:nth-child(7),
    .wrap-update-user form div:nth-child(8), .wrap-register form div:nth-child(8) {
        grid-column: 1 / -1;
        padding-bottom: 0;
    } 

    /* birthDate */
    .wrap-update-user form div:nth-child(5), .wrap-register form div:nth-child(5) {
        padding-bottom: 0;
    }

    /*************************** GridDetailsSession ***************************/
    /**************************************************************************/
    .wrap-details-session {
        display: grid;

        grid-template-columns: auto auto auto auto auto auto;
        grid-template-rows: auto;

        column-gap: 25px;
        row-gap: 15px;

        color: var(--secondary-color-text);
    }

    .wrap-details-session .form-create {
        grid-column: 1 / -1;
    }

    .wrap-details-session #table-information {
        grid-column: 1 / -1;
    }

    #table-information p, #table-information div {
        padding: 2px 0;
    }

    .passed-sessions-content {
        display: none;
    }

    .form-create div { /* affect all div that doesn't have a date input */
        grid-column: 1 / -1;
    }

}

/************************************************************ Phone ************************************************************/
/*******************************************************************************************************************************/
@media only screen
and (max-device-width : 480px) {

    /************************ HomePage ************************/
    /**********************************************************/
    .create-entities {
        justify-content:space-evenly;
        flex-wrap: wrap;
    }

    /************************* Header *************************/
    /**********************************************************/
    nav a, nav button {
        padding: 0 5px;
    }

    .create-entities a{
       width: 45%;
    }

}