{% extends 'base.html.twig' %}

{% block title %}All of our incoming sessions{% endblock %}
{% block metadesc %}Log into your account{% endblock %}


{% block body %}
<h1>Our sessions</h1>

<a href="{{ path('create_session') }}">Create session +</a>
{% endblock %}
