{% extends 'base.html.twig' %}

{% block title %}All of our tags{% endblock %}
{% block metadesc %}List of all our tags adn the modules tied to them{% endblock %}
{% block pageWrapper %}index-tag{% endblock %}


{% block body %}
<div id="wrapper-tag-list">

    <h1 class="primary-title">Our tags and their modules</h1>

        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('create_tag') }}"><p>Create tag <b>+</b></p></a>
            <a href="{{ path('create_module') }}"><p>Create module <b>+</b></p></a>
        {% endif %} 

    <div id="table-list">
        {% for tag in tags %}
            <div class="table-row table-header">  
                <h2 class="table-item">{{ tag }}</h2>
            </div>

            {% if tag.Modules | length > 0 %}
                
                {% for module in tag.Modules %}
                    <div class="table-row">
                        <p class="table-item">{{ module }}</p>
                    </div>
                {% endfor %}
               
            {% else %}

                <div class="table-row">
                    <p class="table-item">This tag doesnt have any modules</p>
                </div>
               
            {% endif %}

        {% endfor %}

    </div>

</div>
{% endblock %}
