{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<div>
    {% for user in users %} 
        <p>{{ user }} <span><a href=" {{ path('details_user', {id: user.id}) }}">Click here for details</a></span></p>
    {% endfor %}
</div>
{% endblock %}
